@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Jura:wght@700&family=Kalam:wght@300&family=Neucha&display=swap');
* {  
    text-decoration: none;
    vertical-align: center;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #222222;
    color: whitesmoke;
  }

 h1 {
    font-family: 'Jura', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
  }

  h2 {
    font-family: 'Jura', sans-serif;
    font-weight: 300;
    font-size: xx-large;
  }

  /* this defines the grid layout of the page */

  .homepage_layout {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat (7,fr);
    grid-gap: 5px;
    grid-template-areas: 
      "nav"  
      "hello"
      "main"
      "about_me"
      "projects"
      "contact"
      "footer";  
  }

 /* grid items */

.hello {
    grid-area: hello;
    text-align: center;
    margin: 2 2 2em;
}  


.hello > h3 {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-size: xx-large;
  padding: 12px
}
  .nav {
    grid-area: nav;
    text-align: center;
    position: sticky;
  }

  .about_me {
   grid-area: projects;
    display: inline-grid;
    color: whitesmoke;
    font-family: 'Jura', sans-serif;
    text-align: center;
    margin: 1em 3em 2em;
  }

 /* this section could be formatted and spaced better using the box model - see MCR codes codepen */

  .about_me > p {
   font-family: 'Kalam', cursive;
   margin: 2em 0em 0em;
   font-size: large;
   font-family: 'Kalam', cursive;
  }

  .projects {
    grid-area: main;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Jura', sans-serif;  
  }

  #projects > h2 {
  color:#222222;
  padding-top: 30px
  }
  
  #projects > p {
    font-family: 'Kalam', cursive;
    font-size: x-large;
    font-weight: 300;
    color:#222222;
      }

      

  .contact {
    grid-area: contact;
    text-align: center;
    font-family: 'Jura', sans-serif;
    padding: 10px
  }

    .contact > h2 {
      grid-column: 2/3;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 10px;
  }

/*

NEED TO UNDERSTAND WHY THIS GRID DOES NOT WORK ON RESPONSIVELY 

  .contact_table {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat (4,fr);
    text-align: center;
    border: none;
    outline: none;
  }

*/
  .contact_table {
    text-align: center;
  }


  .label {
    grid-column: 2/3;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .input {
    grid-column: 2/3;
    height: 25px;
    width: 50%
  }

  #further_detail {
    height: 50px
  }

  fieldset {
    border: 0;
  }

  .button {
    color: whitesmoke;
    font-family: 'Jura', cursive;
    font-size: large;
    background-color: #222222;
    border: 0;
    padding-bottom: 25px
  }

  .button:hover {
    color:#FFD802
  }

  .footer {
    grid-area: footer;
    text-align: center;
    background-color: whitesmoke;
    color:#222222;

  }

/* flexbox of photos */

    .grid--flexbox { 
        display: flex;
        flex-wrap: wrap

      }

      .grid--flexbox > li { /* flexbox items (inside container) */ 
     height: 30vh;
     flex-grow: 1
      }

      .grid--flexbox > li:nth-child {
        flex-grow: 10;
      }

      img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }
      .my_photos {
        padding: 5px;
        background-color: #222222
    }

    .photo_style {
      list-style: none;
      padding: 0;
      margin: 0;
    }

/* projects flexbox */

  .recent_projects {  
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;

  }

  :root {
    --cardWidth: 300px;
    --cardHeight: 350px;
    --cardMargin: 20px;
    --photoheight: 100px
  }

  .recent_projects li {
    background-color: #222222;
    color: whitesmoke;
    align-content: center;
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;

  }

  .recent_projects h3 {
    margin: 0.3em;
    font-size: x-large
  }

  .recent_projects li > p {
    margin: 1em
  }

  .recent_projects img {
    height: var(--photoheight);
    width: var(--cardWidth);
    object-fit: cover;
    vertical-align: bottom;
  }

/* end of projects flexbox */

/* nav bar links */   

      .page_links {  
        display: flex;
        justify-content:flex-end;
        height: 100%;
      }

      .page_links {  
        /* list reset */
        padding: 0;
        margin: 0;
        list-style: none;

      }
      
      .page_links li {
        padding: 10px;

      }
      
      .page_links a {
        text-decoration: none;  
        color: whitesmoke;
        font-family: 'Jura', sans-serif;
        font-size: large
      }

      .page_links a:hover {
        color: #FFD802
      }


      /* flexbox for socials */

.fa {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #222222
}

.fa:hover {
  color: #FFD802
}   
            


/* media queries */

@media screen and (max-width: 600px) {
  .page_links {justify-content: center;

  }
  
}

@media screen and (max-width: 600px) {
  .hello > h3 {font-size: x-large

  }
  
}