@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Kalam&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Jura:wght@700&family=Kalam:wght@300&family=Lato&display=swap');


* {  
    text-decoration: none;
    vertical-align: center;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #222222;
    color: whitesmoke;
  }

  /* this defines the grid layout of the page */

  .homepage_layout {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat (9,fr);
    grid-gap: 5px;
    grid-template-areas: 
      "nav"  
      "hello"
      "main"
      "about_me"
      "projects"
      "footer";
    
    min-height: 100vh;
    
  }

 /* grid items */

.hello {
    grid-area: hello;
    font-family: 'Jura', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    margin: 0 0 .5em;
    background-color: #222222
}  

.hello > h2 {
  font-family: 'Kalam', cursive;
  font-weight: 300
}
  .nav {
    grid-area: nav;
    text-align: center;
  }

  .about_me {
   grid-area: projects;
    display: inline-grid;
    color: whitesmoke;
    font-family: 'Jura', sans-serif;
    text-align: center;
    margin: 2em 15em 3em;
    font-weight: 200;
    font-size: 1vw
  }

  .about_me > p {
   font-family: 'Kalam', cursive;
   margin: 2em 0em 0em;
  }

  .projects {
    grid-area: main;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Jura', sans-serif;
    color: black;
    min-height:50vh;
    
  }

  
  .footer {
    grid-area: footer;
    text-align: center
  }

/* flexbox of photos */

    .grid--flexbox { 
        display: flex;
        flex-wrap: wrap

      }

      .grid--flexbox > li { /* flexbox items (inside container) */ 
     height: 30vh;
     flex-grow: 1
      }

      .grid--flexbox > li:nth-child {
        flex-grow: 10;
      }

      img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }

      .my_photos {
        padding: 5px;
        background-color: #222222
    }

    .photo_style {
      list-style: none;
      padding: 0;
      margin: 0;
    }

/* projects flexbox */

  .recent_projects {  
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;

  }

  :root {
    --cardWidth: 300px;
    --cardHeight: 350px;
    --cardMargin: 20px;
    --photoheight: 100px
  }

  .recent_projects li {
    background-color: #222222;
    color: whitesmoke;
    align-content: center;
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;

  }

  .recent_projects h1 {
    margin: 0.3em
  }

  .recent_projects li > p {
    margin: 1em
  }

  .recent_projects img {
    height: var(--photoheight);
    width: var(--cardWidth);
    object-fit: cover;
    vertical-align: bottom;
  }

/* end of projects flexbox */

/* nav bar links */   

      .page_links {  
        display: flex;
        justify-content:flex-end;
        height: 100%;
      }

      .page_links {  
        /* list reset */
        padding: 0;
        margin: 0;
        list-style: none;

      }
      
      .page_links li {
        padding: 10px;

      }
      
      .page_links a {
        text-decoration: none;  
        color: whitesmoke;
        font-family: 'Jura', sans-serif;
      }

/* flexbox for socials */


      
            


