@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222222;
    color: #ffe66b;
    text-decoration: none;
    vertical-align: center;
    margin: 0;
    box-sizing: border-box;
  }

  .homepage_layout {
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    grid-template-rows: 200px 100px 1fr 80px;
    grid-gap: 10px;
    grid-template-areas: 
      "hello hello hello"
      "nav nav nav"
      "aside main main"
      "footer footer footer";
    
    min-height: 100vh;
    border: 1px solid red
    
  }

  /* grid items */

.hello {
    grid-area: hello;
    border: 1px solid red
}
  .nav {
    grid-area: nav;
    border: 1px solid red
  }

  .sidebar {
    grid-area: aside;
    border: 1px solid red
  }
  .content {
    grid-area: main;
    border: 1px solid red
  }
  .footer {
    grid-area: footer;
    border: 1px solid red
  }

  .photos {
    list-style: none;
    padding: 0;
    margin: 0;
  }
    .my_photo {
        padding: 20px;
        border: 1px solid red;
    }

    .grid--flexbox { /* flexbox container */
        display: flex;
        flex-wrap: wrap

      }

      .grid--flexbox > li { /* flexbox items (inside container) */ 
     height: 40vh;
     flex-grow: 1
      }

      .grid--flexbox > li:nth-child {
        flex-grow: 10;
      }

      img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }

      .menu {  
        display: flex;
        height: 100%;
        align-items: center;
      }

      .sidebar, .footer {
        padding: 20px;
      }
      
      .logo img {
        max-width: 100%;
        display: block;
      }
      
      .menu {  
        /* list reset */
        padding: 0;
        margin: 0;
        list-style: none;
      }
      
      .menu li {
        padding: 20px;
        border: 1px solid red;

      }
      
      .menu a {
        text-decoration: none;
      }
      
            
  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0 0 .3em;
  }

  h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    text-align: center
  }