* {  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #222222;
  color: #ffe66b;
  text-decoration: none;
  vertical-align: center;
}

#introduction {  
    background-color: black;
    color: whitesmoke;  
    height: 1rem;
    width: 100vw;
    padding: 1px;
    font-size: 12pt;
    margin: 0%;
    position: sticky;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: lighter;
}

.test-class {
    color:aquamarine;
}

.my-class h3 {
    color: blue;
}

.my-class > p {
    color: grey;
}

p + img {
    height: 400px;
}

#about-me {
    background-color: black;
}

#about-me p {
    color:red;
}


.profile-pic + p {
    color: red;
}

#box:disabled {
    outline: 3px solid green;
  }

  #box:checked + label {
    color: green;
  }

  #socials:hover {
    color:red
    ;
  }

  #link1:visited {
    color:blue;
  }

  #link1:active {
    color:green
  }


  button:disabled {
    color:red
  }

  li::marker {
    color: blue;
  }

  a::after {
    content: " - vist my page";
 }

/* <--!above are pseudo-class selectors--> */

 p {
  position: relative;
}

/* the above code is to do with positioning, and allows us to use the z-index property below, we will get to positioning a bit later on */  

p::after {
  content: "";
  background-color: palegoldenrod;
  height: 20px;
  width: 50%;
  position: absolute;
  left: 20px;
  z-index: -1;
}
/* /* above is a pseudo-element selector */

a[data-anchor="social"] {
  color: green;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18pt;
    margin-right: 10px;
    color: rgb(0, 255, 55);
    top: 10px;
    left: 500px;
  }
/* /* above is an attribute selector  */

.div-element {
   height: 200px;
   width: 99%;
   border: 0px;
   margin: 0px;
   padding: 0px;
   color: white;
   background-color: red;
}
.span-element {
  display: inline-block; 
  height: 100px;
  width: 33%; 
  border: 0px;
   margin: 0px;
   padding: 0px;
   color: white;
   background-color: blue;
}