#introduction {  
    background-color: black;
    color: whitesmoke;  
}

h2 {
    background-color: black;
}

.test-class {
    color:aquamarine;
}

.my-class h3 {
    color: blue;
}

.my-class > p {
    color: grey;
}

p + img {
    height: 400px;
}
